Flask==2.3.0
librosa==0.10.1
numpy==1.23.5
pandas==2.0.3
scikit-learn==1.2.2
tensorflow-cpu==2.12.0
keras==2.12.0
matplotlib==3.7.2
soundfile==0.12.1
gdown==4.7.1
setuptools>=68
wheel
gunicorn==21.2.0
